@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	margin : 0;
	padding : 0;
	font-family: Kode Mono, sans-serif;
	box-sizing: border-box;
}

.bxs-edit {
	font-size: 30px;
}

body{
	background : #000000;
	display : grid;
	margin : 0;
	grid-template-columns: 200px 300px 1fr;
	height : 100%;
	gap : 5px;

}
.navbar {
	border : 1px solid #444444;
	border-radius : 0 5px 5px 0;
	height : 100vh;
	border-left : none;
	background: #2e3035;
	color : #CCCCCC;
	padding : 10px;
}
ol {
	list-style-type : decimal;
	padding-left : 20px;
}

#nav-books {
	display:flex;
	flex-direction: column;
	gap :20px;
}

#nav-books>p {
	display:flex;
	align-items: center;
	gap : 10px;
}

#nav-notes {
}

#container-notes {
	display : flex;
	flex-direction: column;	
	background : #2e3035;
	border-radius : 0 5px 5px 0;
	padding : 10px;
}

#titolo-nota {
	
}
#nota {
	color : #CCC;
}
