@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	margin : 0;
	padding : 0;
	font-family: Kode Mono, sans-serif;
	box-sizing: border-box;
	color : #CCCCCC;
}

#nome-app {
	font-weight : 700;
	border : 1px solid #555555;
	padding : 10px;
	border-radius : 20px;
	box-shadow : 0 0 10px inset #000000;
	display : flex;
	justify-content : center;
}

#div-memory {
	display : flex;
	flex-direction : column;
	align-items : center;
}


.bxs-edit {
	font-size: 50px;
}


body{
	background : #000000;
	display : grid;
	margin : 0;
	grid-template-columns: 180px 200px 1fr;
	height : 100%;
	gap : 5px;
	height : 100vh;
}

#notebooks-area {
	border-top : 1px solid #555555;
	border-radius : 10px;
	display : flex;
	justify-content : center;
	padding-top : 10px;
	margin-bottom: 10px;
}
#notes-area {
	border-top : 1px solid #555555;
	border-radius : 10px;
	display : flex;
	justify-content : center;
	padding-top : 10px;
}


#option {
	display: flex;
	justify-content:center;
	align-items : center;
	gap:5px;
}
#import, #export, #reset-all{
	border : 1px solid #555555;
	border-radius : 5px;
	padding : 5px;
	cursor : pointer;
}
#import:hover, #export:hover, #reset-all:hover {
	background : #555555;
}
.navbar {
	border : 1px solid #444444;
	border-radius : 0 5px 5px 0;
	height : 100vh;
	border-left : none;
	background: linear-gradient(#282d40 70%, #000000);
	color : #CCCCCC;
	padding : 5px;
	overflow-y : auto;
	overflow-x : hidden;
	font-family : Ubuntu Mono, sans-serif;
	font-size : 12px;
}

/* Stile generale per la progress bar */
progress {
  width: 100%;
  height: 10px;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  --progress-color: #4caf50; /* Colore di default (verde) */
}

/* Stile per browser basati su WebKit (Chrome, Edge) */
progress::-webkit-progress-value {
  background-color: var(--progress-color);
}

progress::-webkit-progress-bar {
  background-color: #e0e0e0; /* Sfondo grigio chiaro */
}

/* Stile per Firefox */
progress::-moz-progress-bar {
  background-color: var(--progress-color);
}
#books {
	height : 100%;
	overflow : auto;
	max-height : 100%;
	background : rgba(40,45,64,0.3);
	border-radius : 10px;
}
#add-book {
	padding : 10px;
	border-radius : 5px;
	box-shadow: 0 0 2px inset #555555;
	display : flex;
	justify-content: center;
	align-items : center;
	cursor : pointer;
	margin-bottom : 10px;
	gap: 10px;
}
#add-book:hover {
	background: #555555;
}
#add-book>i {
	font-size : 20px;
}


li {
	padding : 3px;
	border-bottom : 1px solid #555555;
	margin-bottom : 3px;
	border-radius : 10px;
	font-weight : 700;
}

#nav-books {
	display:flex;
	flex-direction: column;
	gap :20px;
	
}

#nav-books>p {
	display:flex;
	align-items: center;
	gap : 10px;
}


#notebook-selezionato {
	display: flex;
	justify-content : center;
	padding : 5px;
	margin-bottom : 15px;
	font-weight : 700;
	border : 1px solid #555555;
	border-radius : 5px;
}
#nav-notes {
	display:flex;
	flex-direction: column;
	gap :20px;
}

#container-list-notes {
	height: 100%;
	overflow : auto;
	max-height : 100%;
}

#add-nota {
	display: flex;
	justify-content : center;
	align-items : center;
	padding : 10px;
	border-radius : 5px;
	box-shadow : 0 0 2px inset #555555;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	gap: 10px;

}
#add-nota:hover {
	background : #555555;
}
#add-nota>i {
	font-size : 20px;
}

#container-notes {
	display : flex;
	flex-direction: column;	
	background : #161824;
	border-radius : 0 5px 5px 0;
	padding : 10px;
}

#nota-selezionata {
	font-weight: 700;
	border : 1px solid #555555;
	padding : 10px;
	display : flex; 
	justify-content : left;
	align-items : center;
	border-radius : 5px;
}

#contenuto-nota {
	color : #CCCCCC;
	border : none;
	border-radius : 10px;
	padding : 10px;
	white-space: pre-wrap;
	word-wrap : break-word;
	overflow-wrap: break-word;
	overflow-x : hidden;
	overflow-y : auto;
	box-sizing : border-box;
	resize : none;
	height : 100%;
	max-height : 100%;

}
.container {
	display: flex;
	flex-direction: column;
	height: 100%; /* Occupa tutta l'altezza */
	overflow: hidden; /* Evita l'overflow */
}

.ql-editor {
	height : 100%;
	overflow-y : auto;
	overflow-x : hidden;
	resize : none;
	border-radius : 10px;
	font-size : 18px;

	background-color: #161824; /* Colore di base */
  background-image: 
    linear-gradient(90deg, rgba(50, 50, 50, 0.1) 1px, transparent 1px),
    linear-gradient(rgba(50, 50 , 50, 0.1) 1px, transparent 1px);
  background-size: 18px 18px; /* Dimensione dei quadretti */
}
.ql-snow {
	border : none !important;
	border-bottom : 1px solid #CCCCCC !important;
}

#elemento-book{
	display: flex;
	justify-content : space-between;
	align-items : center;
	cursor : pointer;
}
#elemento-book:hover {
	border : 1px solid #555555;
}

#cancella-book {
	padding : 3px;
	border-radius : 5px;
}
#cancella-book:hover {
	background : #995555;
}

#elemento-nota {
	display:flex;
	justify-content : space-between;
	align-items : center;
	cursor : pointer;
}
#elemento-nota:hover {
	border : 1px solid #555555;
}
#cancella-nota {
	padding : 3px;
	border-radius : 5px;
}
#cancella-nota:hover {
	background : #995555;
}

.selected {
	background : linear-gradient(#282d40, #006A87);
}
